body {
  font-family: Arial, sans-serif;
  background-image: url("/assets/images/thumb.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #2f2182;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #093011;
}

.form-container .form-link {
  text-align: center;
  margin-top: 15px;
}

.form-container .form-link a {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

.form-container .form-link a:hover {
  text-decoration: underline;
}
